* {
  margin: 0;
  padding: 0;
}

body {
  margin: 5%;
  font-size: 67.5%;
}

html {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  height: 50vh;
  width: 95vh;
  background-color: white;
  border: 3px solid green;
  margin-left: 5%;
  margin-top: 20%;
}

.top {
  height: 54%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;
  gap: 0;
}

.stars {
  background-color: navy;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.s5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.s6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.star1 {
  color: white;
  font-size: 200%;
}

.star {
  color: white;
  font-size: 200%;
  margin-left: 10%;
}

.halfStripes {
  background-color: white;
  height: 100%;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: span 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1);
}

.red {
  background-color: maroon;
}

.one {
  height: 100%;
  width: 100%;
  grid-row: 1;
}

.three {
  height: 100%;
  width: 100%;
  grid-row: 3;
}

.five {
  height: 100%;
  width: 100%;
  grid-row: 5;
}

.seven {
  height: 100%;
  width: 100%;
  grid-row: 7;
}

.fullStripes {
  background-color: white;
  height: 46%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.nine {
  height: 100%;
  width: 100%;
  grid-row: 2;
}

.eleven {
  height: 100%;
  width: 100%;
  grid-row: 4;
}

.thirteen {
  height: 100%;
  width: 100%;
  grid-row: 6;
}